@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    background-color: darkslateblue;
}

li, a ,h1, p, button{
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: whitesmoke;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 10%;
    background-color: #1f1e1e;
}

.logo {
    cursor: pointer;
}

.nav_links {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding-inline: 5px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    color: darkslateblue;
}

.hero {
    display: flex;
    align-items: center;
    background-color: #252424;
    padding: 70px 10%;
}

.heroheading {
    display: flex;
    flex-direction: column;
}

.herobutton {
    width: 70px;
    height: 30px;
    background-color: #363434;
    color: whitesmoke;
    font-size: 14px;
    border: none;
    cursor: pointer;
}

.herobutton:hover {
    background-color: #5c5858;
}

h1 {
    font-size: 28px;
}